<!DOCTYPE html>
<html class="no-js" lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="css/style1.css"/>
</head>
<body>
<div class="container">
    <h3 class="title" th:text="${title}"></h3>
    <p>
        <span> <b>PIN: </b></span>
        <span th:text="${pin}"></span>
        <br>
        <span> <b>Address: </b></span>
        <span th:text="${address}"></span>
    </p>

    <p>
        <span>Thanks,</span><br>
        <span><b>Daanguli Inc.</b></span>
    </p>
</div>
</body>
</html>