<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
</head>
<body>
<div class="main">
    <div class="portions first-portion">
        <div class="first-portion-inner">
            <p class="envelope-date" th:text="${banglaDate}">তারিখঃ ৪ ঠা এপ্রিল, ২০২১</p>

            <p class="envelope-greet">প্রিয় <span><b th:text="${banglaName}">মুহাম্মদ আবিদ হাসান</b></span>,</p>
            <p class="envelope-msg">অভিনন্দন! বিকাশ রিটেল একাউন্ট রেজিস্ট্রেশনের জন্য প্রযোজ্য ভেরিফিকেশন কোডটি আপনার প্রদত্ত ব্যবসা প্রতিষ্ঠানের ঠিকানায় আপনি সফলভাবে গ্রহণ করেছেন।
                আপনার ভেরিফিকেশান কোডটি হল, <code class="pin"><b th:text="${verCode}">keokradong2021</b></code> কোডটি <code>www.bkash.com/pra/verification</code> -এ প্রবেশ করিয়ে ভেরিফাই করে রেজিস্ট্রেশন প্রক্রিয়া সম্পন্ন করুন।</p>
            <p class="envelope-note"><span>সতর্কতাঃ</span> ভেরিফিকেশন কোডটি কারো সাথে শেয়ার করবেন না এবং ভেরিফিকেশন সফলভাবে সম্পন্ন হয়ে গেলে কোডটি নষ্ট করে ফেলুন।</p>
            <p class="envelope-regards">ধন্যবাদান্তে,</p>
            <p class="envelope-company"><b>বিকাশ লিমিটেড</b></p>

        </div>
    </div>

    <hr/>

    <div class="portions second-portion">
        <div class="second-portion-inner">
            <div class="envelope-recipient">
                <p class="recipient-to">To,</p>
                <p><b th:text="${name}">Saimon Uddin</b></p>
                <p th:text="${address}">House 26, ROad 11, Sector 6</p>
                <p>Uttara Dhaka</p>
                <p class="recipient-phone">Mobile: <span th:text="${phone}">+8801714175196</span></p>
            </div>
        </div>
    </div>

    <hr/>

    <div class="portions third-portion">
        <div class="third-portion-inner">
            <img th:src="@{images/logo-lg.png}" alt="bKash Logo" />
        </div>
    </div>

</div>
</body>
</html>